# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# Use spaces for indentation
# Use an indent size of 4
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

# For Makefiles, use tab indentation
[Makefile]
indent_style = tab
